.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__wrapper {
  padding: 50px 20px 28px;
  width: 320px;
  flex-direction: column;
  align-items: center;
  display: flex;


  @media (min-width: $tablet-width) {
    padding: 60px 20px 99px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    padding: 101px 40px 119px;
    width: 1440px;
  }
}

.advantages__header {
  padding: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.advantages__subtitle {
  padding: 0;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
  }
}

.advantages__item {
  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 339px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    min-width: 317px;
  }
}

.advantages__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: row wrap;
    gap: 50px 30px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-flow: row wrap;
    gap: 50px 30px;
    justify-content: flex-start;
  }
}
